POSTGRES_USER=<db-user>
POSTGRES_PASSWORD=<db-password>
POSTGRES_DB=<db_name>
DB_TYPE=postgresdb
DB_POSTGRESDB_DATABASE=<db-name>
DB_POSTGRESDB_HOST=<db-host>
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_USER=<db-user>
DB_POSTGRESDB_PASSWORD=<db-password>
N8N_SECURE_COOKIE=false